*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Flutter / Dart
.dart_tool/
.packages
build/
pubspec.lock

# Documentation
doc/api/

# Environment variables
.env
.env*
.env.local
.env.production
.env.development

# Generated JavaScript
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

# Signing keys
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Runner.xcworkspace/

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/

# Logs
*.log

# Coverage
coverage/

# Firebase
firebase-debug.log
firebase-debug.*.log

# Crashlytics
crashlytics-build.properties

# OS Files
.DS_Store
Thumbs.db

/build
/captures
.externalNativeBuild
.cxx
local.properties